{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/benjamin/Dev/sl/formations/training-guillemot/src/Controller/MainController.php</code></li>
        <li>Your template at <code>/home/benjamin/Dev/sl/formations/training-guillemot/templates/main/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
