<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Members count!</h1>
    <ul>
        <li>Members : {{ members }}</li>
        <li>Admins : {{ admins }}</li>
    </ul>
    <p>Authenticated ? {{ auth }}</p>
</body>
</html>
