{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    {% dump %}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/benjamin/Dev/sl/formations/training-guillemot/src/Controller/HelloController.php</code></li>
        <li>Your template at <code>/home/benjamin/Dev/sl/formations/training-guillemot/templates/hello/index.html.twig</code></li>
{#        {% for letter in 'A'..'Z' %}#}
{#            <li>{{ loop.index }} - {{ letter }}</li>#}
{#        {% endfor %}#}
    </ul>
    <img src="{{ asset('images/31116_JssY.jpeg') }}">
</div>
{% endblock %}
